<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div><h4 style= "margin: 0px 0px 10px 0px; margin-left: 85%;"><a href="#!blog" ng-show="currentUser.user_name">Create New Blog</a></h4></div>
<div><h1 style="margin-top: 2em;">{{viewblogs.title}}</h1>
<h5>Created by : <b>{{viewblogs.user_name}}</b> | Created On : <b>{{viewblogs.createdate}}</b></h5>
<h4>{{viewblogs.description}}</h4></div>
<button type="button" ng-click="bcc.accept(viewblogs)" color="blue">Approve</button>    
<button type="button" ng-click="bcc.rejectBlog(viewblogs)">Reject</button>
</body>
</html>